
button, div, p, span {
  font-family: "Open Sans", sans-serif;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #29303E;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  font-style: normal;
}


.hide {
  display: none !important;
}

.pay-button {
  width: 280px;
  min-height: 48px;
  background: #F3F3F3;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 13px;
}

.pay-button.dark {
  background-color: #29303E;
}
.pay-button.dark > * {
  color: #FFFFFF;
}

.pay-button.disabled:not(.dark) > span {
  color: #c2c2c2;
}

.pay-button:not(.disabled){
  cursor: pointer;
}
.pay-button:hover:not(.disabled):not(.dark) {
  background: #e1e1e1;
}
.pay-button:active:not(.disabled):not(.dark) {
  background: #c7c7c7;
}

.pay-button.dark:hover:not(.disabled) {
  background-color: #353c4f;
}
.pay-button.dark:active:not(.disabled) {
  background-color: #50586e;
}

.pay-button > *:first-child {
  display: flex;
  text-align: left;
}
.pay-button > *:last-child {
  text-align: right;
}
.pay-button > *:first-child,
.pay-button > *:last-child {
  flex: 2;
}

.error {
  color: brown;
  padding: 12px 0;
}

